{% extends 'base.html' %}

{% block title %}Hobbysite | Online Wiki App{% endblock title %}

{% block content %}

<h1>Welcome to the Wiki App</h1>

<div id="user-info">
    <b>Logged in:</b> {{ request.user }} <br>
</div>

<!-- IF USER IS LOGGED IN, CAN CREATE AN ARTICLE-->
<div id="create-article">
    {% if user.is_authenticated %}
        <p><a href="{% url 'wiki:article_add' %}">Create New Article</a></p>
    {% else %}
        <p>Please <a href="{% url 'login' %}">login</a> to create a new article.</p>
    {% endif %}
</div>

<!-- ARTICLES OF CURRENTLY LOGGED IN USER-->
<div id="articles">
    <h2>My Articles</h2>
    <ul>
        {% for article in user_articles %}
        <li><a href="{% url 'wiki:article_detail' article.pk %}">{{ article.title }} → </a></li>
        <i>{{ article.created_on }}</i> 
        <br>
        <br>
        {% endfor %}
    </ul>
</div>

<!-- ALL ARTICLES OF NON-LOGGED IN USER-->
<div id="articles">
    <h2>All Articles</h2>
    <ul>
        {% for article in other_articles %}
        <li><a href="{% url 'wiki:article_detail' article.pk %}">{{ article.title }} → </a></li>
        <i>{{ article.created_on }}</i> 
        <br>
        <br>
        {% endfor %}
    </ul>
</div>


{% endblock %}
