{% extends 'base.html' %}

{% block title %}Hobbysite | Online Wiki App - Update Article{% endblock %}

{% block content %}
    <h1>Update Article</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        {% if article.header_image %}
        <img src="{{ article.header_image.url }}" alt="{{ article.title }} Image" style="max-width: 25%;">
        {% endif %} <br>
        <button type="submit">Update</button>
    </form>

    <p><a href="{% url 'wiki:article_detail' article.pk %}">Go Back to Article</a></p>
{% endblock %}
