{% extends 'base.html' %}
{% load static %}

{% block title %}Hobbysite Blog{% endblock %}

{% block content %}
    <h1>Article List</h1>
    <p>Please see our blog entries below:</p>
    <h3>Your Articles:</h3>
    {% for item in user_articles %}
    <li>
        <a href="{% url 'blog:article-detail' pk=item.pk %}">
            {{ item.name }}
        </a>
    </li>
    {% endfor %}

    <h3>Other Articles:</h3>
    {% for item in other_articles %}
    <li>
        <a href="{% url 'blog:article-detail' pk=item.pk %}">
            {{ item.name }}
        </a>
    </li>
    {% endfor %}
    <p>
        <a href="{% url 'blog:article-create' %}">Write an Article</a>
    </p>

{% endblock %}